<div class="row" ng-controller="FluidoSitePageCtrl">
  <div class="col-lg-2 col-sm-3 main-navigation" ng-controller="NaviCtrl">
    <div id="main-navigation">
      <div ng-repeat="element in elements" ng-bind-html="element" ng-show="visibility[$index]" 
           ng-click="toggleCollapse($index)">
      </div>
    </div>
  </div>

  <div class="col-lg-8 col-sm-9 main-body" ng-controller="FluidoContentCtrl">
    <div ng-repeat="element in elements" ng-bind-html="element">
    </div>
  </div>

  <div class="col-lg-2 col-sm-9 col-sm-offset-3 col-lg-offset-0 download-navigation" 
       ng-controller="FluidoDownloadCtrl" ng-class="{ 'visible-lg-block': isMenu }">
    <div id="right-navigation">
      <selection-note-panel></selection-note-panel>

      <div ng-repeat="element in elements" ng-class="{ collapsed: !visibility[$index] }" 
           ng-bind-html="element" ng-click="toggleCollapse($index, element)"></div>
    </div>
  </div>
</div>
