
html, .glass:before {
  background: url(http://tunguski.github.io/img/bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 768px) {
  html, .glass:before {
    background: none;
  }
}

body {
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: inherit;
  height: 100%;
}

footer * {
  color: #666;
  margin-top: 50px;
}

header {
  border-bottom: 1px solid #ccc;
  padding: 50px
}


p.description {
  font-size: 21px;
}

.container.section {
  margin-top: 50px;
}

.glass {
  background: rgba(255,255,255,0.90);
}

.glass:before {
  z-index: -1;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

@media (max-width: 768px) {
  .glass {
    background: white;
  }

  .glass:before {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
  }
}


.project-container {
  position: relative;
  min-height: 140px;
  border: 1px solid #999;
  margin-top: 20px;
  padding: 20px;
  cursor: pointer;
}

.project-container:hover {
  border-color: deepskyblue;
  background-color: #f6f6f6;
}

.project-container:hover * {
  text-decoration: none;
  color: #428bca;
}

.project-container h3 {
  margin-top: 0px;
}

.project-container a.goto-project {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.project-container span.info {
  padding-bottom: 10px;
  color: #333;
}
