---
layout: one_column
title: "Open Source Projects"
---

<div class="section grid-table">
  <h1>Open source projects</h1>

  <div class="row grid-table-header">
    <div class="col-sm-2">Project</div>
    <div class="col-sm-1">Docs</div>
    <div class="col-sm-2">Travis CI</div>
    <div class="col-sm-2">Coveralls</div>
    <div class="col-sm-2">David-dm</div>
    <div class="col-sm-3">David-dm dev</div>
  </div>

  {% assign projects = site.data.projects | where: "research", false %}
  {% for project in projects %}
  <div class="row">
    <div class="col-sm-2">
      <a href="https://github.com/tunguski/{{project.name}}">{{project.name}}</a>
    </div>
    <div class="col-sm-1">
      {% if project.docs == true %}
      <a href="/projects/{{project.name}}.html">docs</a>
      {% endif %}
    </div>
    <div class="col-sm-2">
      <a href="https://travis-ci.org/tunguski/{{project.name}}">
        <img src="https://travis-ci.org/tunguski/{{project.name}}.svg?branch=master">
      </a>
    </div>
    <div class="col-sm-2">
      <a href="https://coveralls.io/r/tunguski/{{project.name}}?branch=master">
        <img src="https://coveralls.io/repos/tunguski/{{project.name}}/badge.png?branch=master">
      </a>
    </div>
    <div class="col-sm-2">
      {% if project.type == "java" %}
      <span>----</span>
      {% else %}
      <a href="https://david-dm.org/tunguski/{{project.name}}#info=dependencies">
        <img src="https://david-dm.org/tunguski/{{project.name}}/status.png?branch=master"></img>
      </a>
      {% endif %}
    </div>
    <div class="col-sm-3">
      {% if project.type == "java" %}
      <span>----</span>
      {% else %}
      <a href="https://david-dm.org/tunguski/{{project.name}}#info=devDependencies">
        <img src="https://david-dm.org/tunguski/{{project.name}}/dev-status.png?branch=master"></img>
      </a>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  <h1>Research projects</h1>

  <div class="row grid-table-header">
    <div class="col-sm-3">Github repository</div>
    <div class="col-sm-3">Site</div>
    <div class="col-sm-3">Description</div>
  </div>

  {% assign projects = site.data.projects | where: "research", true %}
  {% for project in projects %}
  <div class="row">
    <div class="col-sm-3">
      <a href="https://github.com/tunguski/{{project.name}}">{{project.name}}</a>
    </div>
    <div class="col-sm-3">
      <a href="http://{{project.site}}">{{project.site}}</a>
    </div>
    <div class="col-sm-6">
      {{project.description}}
    </div>
  </div>
  {% endfor %}

</div>