<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Matsuo IT Open Source Projects</title>

  <link href="//fonts.googleapis.com/css?family=Roboto:100normal,100italic,300normal,300italic,400normal,400italic,500normal,500italic,700normal,700italic,900normal,900italic|Open+Sans:400normal|Lato:400normal|Droid+Sans:400normal|Oswald:400normal|PT+Sans:400normal|Source+Sans+Pro:400normal|Ubuntu:400normal|Raleway:400normal|Roboto+Condensed:400normal|Lobster:400normal&amp;subset=all" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="main.css"/>
</head>
<body class="glass" ng-app="status">

  <header>
    <div class="container">
      <h1>Matsuo IT</h1>
      <p class="description">Open Source Projects</p>
    </div>
  </header>

  <div class="container section grid-table">
    <div class="row grid-table-header">
      <div class="col-sm-2">Project</div>
      <div class="col-sm-2">Travis CI</div>
      <div class="col-sm-2">Coveralls</div>
      <div class="col-sm-3">David-dm</div>
      <div class="col-sm-3">David-dm dev</div>
    </div>

    <div class="row" ng-repeat="(project, conf) in projects">
      <div class="col-sm-2">
        <a ng-href="https://github.com/tunguski/{{project}}" ng-bind="project"></a>
      </div>
      <div class="col-sm-2">
        <a ng-href="https://travis-ci.org/tunguski/{{project}}">
          <img ng-src="https://travis-ci.org/tunguski/{{project}}.svg?branch=master">
        </a>
      </div>
      <div class="col-sm-2">
        <a ng-href="https://coveralls.io/r/tunguski/{{project}}?branch=master">
          <img ng-src="https://coveralls.io/repos/tunguski/{{project}}/badge.png?branch=master">
        </a>
      </div>
      <div class="col-sm-3">
        <a ng-if="!conf.java" ng-href="https://david-dm.org/tunguski/{{project}}#info=dependencies">
          <img ng-src="https://david-dm.org/tunguski/{{project}}/status.png?branch=master"></img>
        </a>
        <span ng-if="conf.java">----</span>
      </div>
      <div class="col-sm-3">
        <a ng-if="!conf.java" ng-href="https://david-dm.org/tunguski/{{project}}#info=devDependencies">
          <img ng-src="https://david-dm.org/tunguski/{{project}}/dev-status.png?branch=master"></img>
        </a>
        <span ng-if="conf.java">----</span>
      </div>
    </div>
  </div>


  <footer>
    <div class="container">
      <h5>Matsuo IT 2014</h5>
      <h5><a href="index.html">Home page</a></h5>
    </div>
  </footer>


  <script src="https://code.angularjs.org/1.3.0-beta.14/angular.js"></script>
  <script>
    angular.module('status', [])
      .run(function ($rootScope) {
        $rootScope.projects = {
          'matsuo-js-util': {},
          'matsuo-ng-route': {},
          'matsuo-ng-resource': {},
          'matsuo-ng-ui': {},
          'matsuo-core-webapp': {},
          'matsuo-core-mobileapp': {},
          'hibernate-validator-pl': {
            java: true
          }
        };
      });
  </script>
</body>
</html>
