<div class="hidden-sm hidden-xs">
  <div class="row">
    <div class="col-sm-10 col-md-8">
      <img src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/298130_2407933081423_1220681072_n.jpg?oh=81be61600c6d54cefdb0b40531965fdf&oe=562DCAD0"
           alt="Marek Romanowski" class="face-image">
    </div>
  </div>

  <h3 class="">Marek Romanowski</h3>
  <p><a href="https://github.com/tunguski">Github</a></p>
  <p><a href="https://twitter.com/tunguski">Twitter</a></p>
  <p><a href="mailto:marek.romanowski@gmail.com">Gmail</a></p>
</div>
