{% assign tmp = site.data.projects | where: "docs", true | where: "research", false %}

<ul class="list-unstyled">
  <li><b class="group-header">Javascript projects</b></li>

  {% assign withDocs = tmp | where: "type", "js" %}
  {% for project in withDocs %}
  <li class="{% if project.name == page.project %}active{% endif %}">
    <a class="" href="/projects/{{ project.name }}.html">{{ project.name }}</a>
  </li>
  {% endfor %}

  <li><b class="group-header">Java projects</b></li>

  {% assign withDocs = tmp | where: "type", "java" %}
  {% for project in withDocs %}
  <li class="{% if project.name == page.project %}active{% endif %}">
    <a class="" href="/projects/{{ project.name }}.html">{{ project.name }}</a>
  </li>
  {% endfor %}

  <li><b class="group-header">Research projects</b></li>

  {% assign research = site.data.projects | where: "research", true %}
  {% for project in research %}
  <li class="{% if project.name == page.project %}active{% endif %}">
    <a href="http://{{ project.site }}" target="_blank">{{ project.name }}</a>
  </li>
  {% endfor %}
</ul>
